@media (max-width: 520px) {
	.nav-tabs .nav-link {
		font-size: 11px !important;
	}
}
@media (max-width: 320px) {
	.nav-tabs .nav-link {
		font-size: 9px !important;
	}
}
.nav-wrapper a {
	text-transform: uppercase;
}
.prereload {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	z-index: 9999;
}
.table-wrapper {
	overflow-x: auto;
}
.alert {
	display: block;
	margin: 0;
	padding: 10px 15px;
	border-radius: 3px;
	color: #ffffff;
	font-size: 20px;
	margin: 10px 0;
	position: relative;
}
.alert-danger {
	background: #d32f2f;
}
.alert-success {
	background: #00c853;
}
.close-alert {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 26px;
	color: #fff;
	background: transparent;
	border: none;
	cursor: pointer;
}
.invalid-feedback, .text-danger {
	color: #d32f2f !important;
	font-size: 14px;
}
tr, td, th {
	border: 1px splid #88888 !important;
}

.input-group .btn:nth-child(1) {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.input-group .btn:nth-child(2) {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.input-photo label {
	display: flex;
	width: 250px;
	height: 190px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.2);
	background: #eee;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: inset 0 -1.6px 3px .4px rgba(255,255,255,.4);
	position: relative;
	overflow: hidden;
}

.input-photo img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.input-photo .fa {
	font-size: 40px;
	color: #888888;
}

.input-photo input {
	display: none;
}

.small-box {
	height: 150px;
	position: relative;
}

.small-box-footer {
	position: absolute !important;
	bottom: 0 !important;
	left: 0;
	width: 100%;
}

.time-saldo {
	font-weight: bold;
	font-size: 12px;
	margin-top: 5px;
	padding: 4px 10px;
}

.time-saldo option {
	font-weight: bold;
	padding: 4px 10px;
}